.victor {
  padding-right: 6px;
  vertical-align: middle;
  display: inline;
  opacity: 0;
}
.displayVictor {
  opacity: 1;
}

.name,
.shortName {
  color: #000;
  vertical-align: middle;
}

.party,
.shortParty {
  color: #000;
}
.shortParty {
  display: none;
}

.votes {
  color: #000;
}

.percent {
  color: #000;
  font-weight: bold;
}
