.tooltip {
  position: absolute;
  top: -30px;
  width: 360px;
  display: none;
  text-align: center;
  background: #ff0;
  padding: 1em 0;
  pointer-events: none;
}

.showTooltip {
  display: block;
}

.wrapper {
  position: relative;
}